.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 1000;
    gap: 25px;
}

.genre__select {
    background-color: #191919;
    color: white;
    border: white solid 1px;
    padding: 5px 10px;
}